@font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro';
    src: url('/public/fonts/BlissPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro';
    src: url('/public/fonts/BlissPro-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro';
    src: url('/public/fonts/BlissPro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro';
    src: url('/public/fonts/BlissPro-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'BlissPro';
    src: url('/public/fonts/BlissPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'BlissPro', 'Montserrat', sans-serif;
}
.logo img {
    width: 120px;
    height: auto;
}

        body { font-family: 'BlissPro', 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, sans-serif; color:#0f172a; background-color: #19443C; padding: 0px 40px;}
        .container { max-width: 1360px; margin: auto; padding: 24px; }
        .nav { display: flex; justify-content: space-between; gap: 24px; padding: 16px 0; align-items: center; width: 100%;}
        .nav a { text-decoration: none; color:#ffffff; padding:8px 12px; border-radius:10px; }
        .nav a.active { color:#E1CF95; }
        .hero { padding: 56px 0 24px; }
        h1 { color: white; font-size: clamp(28px, 5vw, 54px); font-weight:800; margin:0 0 12px;}
        h2 { color: #E1CF95; font-size: clamp(22px, 4vw, 40px)}
        h3 { color: #37625A; font-size: clamp(18px, 3vw, 28px)}
        h4 { color: #525252; font-size: clamp(16px, 2vw, 20px)}
        .sub { color:#475569; font-size: 18px; }
        .grid { display:grid; gap:16px; grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); margin: 24px 0; }
        .card { border-radius:36px; padding:28px; background:#fff; }
        button, .btn { display:inline-block; padding:10px 16px; border-radius:50px; background:#E1CF95; color:#19443C; text-decoration:none; font-weight: 500;}
        footer { margin-top:48px; padding:24px 0; color:white; font-size:14px; border-top:1px solid #e5e7eb; display: flex; justify-content: center; }

        .nav-center { justify-content: center; padding: 8px 26px; border-radius: 50px; background-color: rgba(255, 255, 255, 0.224); gap: 50px; display: flex;}
