@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


        body { font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif; color:#0f172a; background-color: #19443C; padding: 0px 80px;}
        .container { max-width: 1100px; margin: 80px auto; padding: 24px; }
        .nav { display: flex; justify-content: space-between; gap: 24px; padding: 16px 0; align-items: center; width: 100%;}
        .nav a { text-decoration: none; color:#ffffff; padding:8px 12px; border-radius:10px; }
        .nav a.active { color:#E1CF95; }
        .hero { padding: 56px 0 24px; }
        .h1 { font-size: clamp(28px, 5vw, 44px); font-weight:800; margin:0 0 12px; }
        .sub { color:#475569; font-size: 18px; }
        .grid { display:grid; gap:16px; grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); margin: 24px 0; }
        .card { border:1px solid #e5e7eb; border-radius:14px; padding:16px; background:#fff; }
        .btn { display:inline-block; padding:10px 16px; border-radius:10px; background:#0ea5e9; color:#fff; text-decoration:none; }
        footer { margin-top:48px; padding:24px 0; color:#64748b; font-size:14px; border-top:1px solid #e5e7eb; display: flex; justify-content: center; }

        .nav-center { justify-content: center; padding: 8px 26px; border-radius: 50px; background-color: rgba(255, 255, 255, 0.224); gap: 50px; display: flex;}